<!doctype html>
<html lang="en">
  <head>
    <style>
     body {
      background-image:url(https://cdn.pixabay.com/photo/2015/04/19/08/33/flower-729512__340.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }
      fieldset {
      background-color: #eeeeee;
      }
      legend {
      background-color: gray;
      color: white;
      padding: 5px 10px;
      }

      input {
      margin: 5px;
      }
      h1{color: pink;}
    </style>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>Login</h1>
  <form action="login" method="post">
  <fieldset>
  <legend>Lilyflowergift:</legend>
  username: <input type="text" name="username" /><br><br>
  password: <input type="password" name="password" /><br><br>
  <input type="submit" name="Submit" value="Submit"/>
  </form> 

  </body>

</html>